.home {

  ion-item {
    background-color: $background-white;

    ion-col {
     padding: 0px 0px 0px 0px; 
    } 

    ion-badge {
      display: initial !important;
      font-size: 16px !important;
    }

    ion-button{
      font-size: 13PX;
      font-weight: bolder;
    }

    ion-scroll {
      white-space: nowrap;
      height: 100px;
      background-color : $background-white;
    }

    .icon-size{
      width: 50px;
      height: 50px;
    }

    .option-image-size{
      height: 195px;
      width: 500px;
    }

    .why-bag2bag-image-size{
      height: 175px;
      width: 500px;
    }

    .option-title{
      position: absolute;
      top: 36%;
      right: 1%;
      font-size: 24px;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .option-title-1{
      position: absolute;
      top: 6%;
      left: 1%;
      font-size: 24px;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .option-title-2{
      position: absolute;
      top: 63%;
      left: 1%;
      font-size: 22px;
      width: 100%;
      font-weight: bold;
      color: white;
    }
  }

  .ion-item-heading{
    background-image: url('../assets/images/wall-image.png');
    background-size: cover;
  }

  .ion-row-heading{
    margin-top: 85%;
  }

  .option-item{
      text-align: center !important;
      position: relative !important;
    } 
}

.booking-list-header-item{
  background-color: $background-white;
  position: inherit;
}