<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img src="assets/images/newLogo.png" alt="" style="width: 22px;height: 22px;vertical-align: middle;" />
            <strong>{{title}}</strong>
        </ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-searchbar color="primary" [(ngModel)]="autocomplete.name" 
        [showCancelButton]="true" (ionInput)="updateSearch()" 
        (ionCancel)="dismiss()" placeholder="Please Enter city (eg:Shirdi)"></ion-searchbar>
    </ion-toolbar>

    <ion-list [hidden]="!showList">
        <ion-item class="booking-list-header-item" *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
            {{ item.name }}
        </ion-item>
    </ion-list>
</ion-header>

<ion-content class="place-list">
    <!--<ion-list [hidden]="!showList">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
            {{ item.name }}
        </ion-item>
    </ion-list>-->

    <place-wall [hidden]="!showWall"></place-wall>

    <div *ngIf="placeList.length">
        <ion-list>
            <place-list-item
             *ngFor="let place of placeList" [place]="place"
             (clicked)=goToPlaceDetail($event)>
            </place-list-item>
        </ion-list>
    </div>
</ion-content>