.place-confirm {

  ion-item {
    background-color: $background-white;

  }

   .button-md {
    text-transform: none;
  }

}

.thumps-up-icon{
  color: green;
  font-size: 2.2em;
}

.thumps-up-icon-cancel{
  color: $fire-brick-color;
  font-size: 2.2em;
}

.booking-successful{
  font-weight: bold;
  color: green;
}

.booking-id{
  font-size: 12px;
  color: green;
}

.booking-cancel{
  font-weight: bold;
  color: $fire-brick-color;
}

.booking-id-cancel{
  font-size: 12px;
  color: $fire-brick-color;
}

.secondary-title{
  font-size: 14px;
  color: $subtitle-color;
}

.button-inner {
  flex-flow: column;
}

.rate-msg{
  @extend .secondary-title;
  margin-top: 10px;
  margin-bottom: 10px;
}

.place-name-confirm {
  font-size: 16px;
}

.address {
  @extend .secondary-title;
  font-size: 12px !important;
  margin-top: 7px;
}

.rate-title{
  padding-bottom: 5px;
}

.ten-px-margin{
  margin-top: 10px;
}

.icon-size{
  width: 50px;
  height: 50px;
}

.facility-text{
  white-space: normal;

}

.place-detail-row-height{
  margin-top: 22px;
}

.place-detail-row-height-2{
  margin-top: 5px;
}

.detail-heading{
  font-size: 12px;
  color: $subtitle-color;
}

.detail-title{
  margin-top: 7px;
  color: $fire-brick-color;
}



