.place-confirm {

  ion-item {
    background-color: $background-white;

  }

   .button-md {
    text-transform: none;
  }

  .thumps-up-icon{
  color: green;
  font-size: 2.2em;
}

.thumps-up-icon-cancel{
  color: $fire-brick-color;
  font-size: 2.2em;
}

.booking-successful{
  font-weight: bold;
  color: green;
}

.booking-id{
  font-size: 12px;
  color: green;
}

.booking-cancel{
  font-weight: bold;
  color: $fire-brick-color;
}

.booking-id-cancel{
  font-size: 12px;
  color: $fire-brick-color;
}

.button-inner {
  flex-flow: column;
}

.place-name-confirm {
  font-size: 16px;
}

.place-name-address {
  font-size: 12px !important;
  margin-top: 7px;
  color: $subtitle-color;
}

.ten-px-margin{
  margin-top: 10px;
}

.place-detail-row-height{
  margin-top: 22px;
}

.place-detail-row-height-2{
  margin-top: 5px;
}

.detail-heading{
  font-size: 12px;
  color: $subtitle-color;
}

.detail-title{
  margin-top: 7px;
  color: $fire-brick-color;
}

}





