<ion-header class="transparent-header">
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content class="place-confirm full-content" fullscreen="true">
  <div *ngIf="booking.place">

    <div>
      
      <img src="{{ imgPath }}{{ booking.place.frontImg }}" alt="{{ booking.place.name }}">
      
    </div>

    <place-confirm-detail [booking]="booking" [user]="user" [cancelActivity]="cancelActivity" (clicked)="cancelBooking($event)"
      *ngIf="booking.place.type == freshenupType">
    </place-confirm-detail>

    <place-luggage-confirm-detail [booking]="booking" [user]="user" [cancelActivity]="cancelActivity" (clicked)="cancelBooking($event)"
      *ngIf="booking.place.type == luggageType">
    </place-luggage-confirm-detail>

  </div>
</ion-content>