<ion-header class="transparent-header">
  <ion-navbar>
    <!--<ion-title>
      <strong *ngIf="booking.place">{{title}}</strong>
    </ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content class="place-confirm full-content" fullscreen="true">
  <div *ngIf="booking.place">

    <div>
      <!--<a class="arrow arrow-left" role="button" (click)="goToPreviousPokemon()"></a>-->
      <img src="{{ imgPath }}{{ booking.place.frontImg }}" alt="{{ booking.place.name }}">
      <!--<a class="arrow arrow-right" role="button" (click)="goToNextPokemon()"></a>-->
    </div>

    <place-confirm-detail [booking]="booking" [user]="user" [cancelActivity]="cancelActivity" (clicked)="cancelBooking($event)"
      *ngIf="booking.place.type == freshenupType">
    </place-confirm-detail>

    <place-luggage-confirm-detail [booking]="booking" [user]="user" [cancelActivity]="cancelActivity" (clicked)="cancelBooking($event)"
      *ngIf="booking.place.type == luggageType">
    </place-luggage-confirm-detail>

  </div>
</ion-content>