.auth-form {

  background-color: $background-white;

  ion-item {
    background-color: $background-white;

  }

   .button-md {
    text-transform: none;
    height: 35px;
    font-size: 17px;
    font-weight: bold;
  }
}

.segment-button-size{
  font-size: 14px !important;
}

.generate-otp-msg{
    margin-top: 14px;
    font-size: 15px;
    padding-left: 10px;
}

.top-margin{
  margin-top: 10%;
}

.error-msg{
  margin-top: 2%;
  color:red;
}




