<div>
  <ion-item text-wrap text-center *ngIf="booking.activity != cancelActivity">
    <div>
      <ion-icon class="thumps-up-icon" ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
    </div>
    <div class="booking-successful">Booking Successful</div>
    <div class="booking-id">Booking ID : {{booking.id}}</div>
  </ion-item>

  <ion-item text-wrap text-center *ngIf="booking.activity == cancelActivity">
    <div>
      <ion-icon class="thumps-up-icon-cancel" ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
    </div>
    <div class="booking-cancel">Booking Cancelled</div>
    <div class="booking-id-cancel">Booking ID : {{booking.id}}</div>
  </ion-item>

  <ion-item class="ten-px-margin" text-wrap>
    <div class="place-name-confirm"> {{booking.place.name}}</div>
    <div class="place-name-address">
      {{booking.place.address}}
    </div>
    <ion-row class="place-detail-row-height">
      <ion-col text-left width-33><span class="detail-heading">Primary Guest</span>
        <br>
        <div class="detail-title">{{booking.guestName}}</div>
      </ion-col>
      <ion-col text-center width-33><span class="detail-heading">Bags</span>
        <br>
        <div class="detail-title">{{booking.payment.rateType | guestTitlePipe}}</div>
      </ion-col>
      <ion-col text-right width-33><span class="detail-heading">Drop On</span>
        <br>
        <div class="detail-title">{{booking.checkinDate | date:'MMM, d'}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="place-detail-row-height-2">
      <ion-col text-left width-33><span class="detail-heading">Status</span>
        <br>
        <div class="detail-title">{{ booking.activity | bookingStatusPipe}}</div>
      </ion-col>
      <ion-col text-center width-33><span class="detail-heading">To be paid</span>
        <br>
        <div class="detail-title">{{booking.payment.payAmount | currency:'INR':true:'1.0-0'}}</div>
      </ion-col>
    </ion-row>

  </ion-item>

  <ion-item>
    <ion-row *ngIf="booking.activity != cancelActivity">
      <button ion-button full color="secondary" (click)="cancelBooking()">Cancel Booking</button>
    </ion-row>
    <!--<ion-row *ngIf="booking.activity == cancelActivity">
      <button ion-button full color="secondary" (click)="backToPlaces()">Back to bookings</button>
    </ion-row>-->
  </ion-item>

</div>