<div class="ten-px-margin">

  <ion-item>
    <ion-label>{{dateLabel}}</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="selDate" min="{{startDate}}" max="{{endDate}}">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-row>
      <span class="rate-msg">Guest ki maa ki choot</span>
    </ion-row>
    <ion-row>
      <button class="rate-block rate-md-block" ion-button block outline (click)="onSelect(i,rate)" [ngClass]="{'rate-block-active': selectedRate == rate}"
        *ngFor="let rate of rateList; let i = index;">
        <div class="rate-title">{{rate.title}}</div>
        <div>{{rate.price | currency:'INR':true:'1.0-0'}}</div>
      </button>
    </ion-row>
    <ion-row>
      <span class="rate-msg">Laude 1 room bacha hai bas</span>
    </ion-row>
  </ion-item>

  <ion-item class="ten-px-margin">
    <ion-row>
      <ion-col width-33 text-left>
        Guest name
      </ion-col>
      <ion-col width-67 text-right>
        <span color="dark">{{user.name}} <ion-icon name="edit"></ion-icon></span>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-row>
      <ion-col width-33 text-left>
        Amount Payable
      </ion-col>
      <ion-col width-67 text-right>
        {{totalAmount | currency:'INR':true:'1.0-0'}}
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item class="ten-px-margin">
    <ion-row>
        Important Points
    </ion-row>
    <ul class="secondary-title">
      <li>Only Indian Nationals allow</li>
      <li>Married people not allowed</li>
      <li>Only BF and GF allowed</li>
    </ul>
  </ion-item>

 <ion-item>
   <!--<ion-row>Test</ion-row>-->
   <ion-row>
     <button ion-button full color="secondary">Full Button</button>
   </ion-row>
 </ion-item>
</div>