.contact-us {

  .button-md {
    text-transform: none;
  }

  .ion-item-heading{
    height: 40%;
    background-color: #4CAF50;
  }

  .ion-row-heading{
    margin-left: 14%;
  }

  .headline-name{
    color: white;
    font-size: 1.5em;
  }

  .headline-what-it-does{
    color: white;
    font-size: 16px;
    margin-top: 3px;
  }

  .contact-us-phone {
    background-color: $background-white;
  }

  .phone-icon{
    color: #388e3c;
    font-size: 30px;
  }

  .phone-icon-text-margin{
    margin-left: 10px;
  }

}




