<ion-header class="transparent-header">
  <ion-navbar>
    <!--<ion-title>
      <strong *ngIf="place">{{ place.name }}</strong>
    </ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content class="place-detail full-content" fullscreen="true">
  <div *ngIf="place">

    <div>
      <!--<a class="arrow arrow-left" role="button" (click)="goToPreviousPokemon()"></a>-->
      <img src="{{ imgPath }}{{ place.frontImg }}" alt="{{ place.name }}">
      <!--<a class="arrow arrow-right" role="button" (click)="goToNextPokemon()"></a>-->
    </div>

    <place-detail-brief [place]="place"></place-detail-brief>

    <place-detail-facilities *ngIf="place.facilities.length > 0" [place]="place"></place-detail-facilities>

    <place-luggage-form [place]="place" [dateLabel]="dateLabel" [user]="user" [guestMsg]="guestMsg" [roomLeftMsg]="roomLeftMsg"
      (clicked)="confirmBooking($event)">
    </place-luggage-form>

  </div>
</ion-content>